.crypto-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #000000, #144BFF);
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.crypto-title {
  color: #ffffff;
  font-size: 24px;
}

.crypto-price {
  color: #ffffff;
  font-size: 20px;
}
